@function vw($px-vw, $base-vw: 1920px) {
  @return ($px-vw * 100vw) / $base-vw
}

.title {
  font-family: $second-font;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  color: $main-color;
}

.main-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  .header {
    flex-shrink: 0;
  }
}

.wrapper {
  flex-grow: 1;
  height: 100%;
  width: calc(100% - 489px);
  position: relative;


}

.dots {
  @include flexCenter;
  gap: 7px;
}

.single-dot {
  height: 19px;


  cursor: pointer;
  border-radius: 5px;
  width: 55px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;

  &::before {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #fff;
    display: inline-block;
    content: '';
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
  }

  &.active {
    &::before {
      background: $main-color;
    }

    width: 200px;
  }
}

.content {
  width: 100%;
  height: 100%;
  @include flexStart;
  flex-direction: column;
  position: relative;
  z-index: 2;

  &-top {
    width: 100%;
    margin-bottom: 30px;
    padding: 33px 41px 0 60px;
    flex-shrink: 0;
    position: relative;
    z-index: 4;
  }

  &-title {
    width: 100%;
    @include flexCenterV;

    &::after {
      flex-grow: 1;
      margin-left: 69px;
      background: $main-color;
      height: 1px;
      display: inline-block;
      content: '';
      order: 3;
    }
  }

  .title {
    flex-shrink: 0;
    order: 2;
  }

  &-icon {
    width: 70px;
    height: 70px;
    margin-right: 30px;
    order: 1;

    @include flexCenter;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &-center {
    width: 100%;
    display: flex;
    flex-grow: 1;

  }
}

.link-back {
  width: 35px;
  height: 35px;

  display: flex;
  position: relative;
  cursor: pointer;
  order: 4;
  margin-left: 39px;

  span {
    width: 100%;
    height: 2px;
    background: $black;
    border-radius: 4px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.3s ease-in-out;

    &:nth-child(2) {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &:hover {
    span {
      background: $main-color;
      transform: translate(-50%, -50%) rotate(-45deg);

      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }
}

.sheets-content {
  max-height: calc(100vh - 133px);
}

.cases {
  width: 100%;

  flex-grow: 1;
  padding: 44px 44px 0 61px;
  position: relative;
  max-height: calc(100vh - 133px);

  &::after {
    width: 100%;
    height: 157px;
    display: inline-block;
    content: '';
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;

  }

  &-list {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 6px 60px;
    padding-bottom: 160px;
    padding-right: 22px;
  }
}

.single-case {
  width: calc((100% / 3) - (120px / 3));
  @include flexStart;
  flex-direction: column;

  @media screen and (min-width: 2400px) {
    width: calc(25% - (180px / 4));
  }

  &__image {
    width: 100%;
    padding: 12px 14px;
    position: relative;
    background: $purplelow;
    transition: all 0.3s ease-in-out;

    overflow: hidden;

    &::before, &::after {
      width: 70px;
      height: 70px;
      display: inline-block;
      content: '';
      background: $white;
      position: absolute;

    }

    &::before {
      top: 0;
      right: 0;
      transform: translate(50%, -50%) rotate(45deg);
    }

    &::after {
      bottom: 0;
      left: 0;
      transform: translate(-50%, 50%) rotate(45deg);
    }

    .img {
      width: 100%;
      height: 0;
      padding-top: 54.392%;
      position: relative;
      z-index: 2;
      overflow: hidden;
      border: 1px solid $border;
      appearance: none;
      backface-visibility: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__text {
    width: 100%;
    padding: 22px 14px;

    p {
      @include textFont;
      transition: all 0.3s ease-in-out;
      min-height: 3.6em;

    }
  }

  &:hover {
    .single-case__image {
      background: $main-color;
    }

    .single-case__text {
      p {
        color: $main-color;
      }
    }
  }
}

.slider-btn {
  width: 57px;
  height: 57px;
  border: 2px solid #C4C4C4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;

  &::after {
    width: 26px;
    height: 26px;
    border: 3px solid #C4C4C4;
    border-right: none;
    border-bottom: none;
    border-radius: 5px 0 0 0;
    display: inline-block;
    content: '';
    position: absolute;
    transform-origin: 50% 50%;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%) rotate(-45deg);
    transition: all 0.3s ease-in-out;
  }

  &.slider-btn--next {
    &::after {
      transform: translate(-70%, -50%) rotate(135deg);
    }
  }

  &:hover {
    background: $main-color;
    border-color: $main-color;

    &::after {
      border-color: #fff;
    }
  }
}

.video-slider {
  width: 100%;
  flex-grow: 1;
  padding: 0 51px 37px 54px;

  @include flexStart;
  flex-direction: column;

  > p {
    width: 100%;
    @include textFont;
    text-align: center;
  }

  .dots {
    z-index: 10;
    position: absolute;
    bottom: 90px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
  }
}

.video-slider__wrapper {
  width: 100%;
  margin-bottom: 0;
  position: relative;
  flex-grow: 1;
  max-height: calc(100vh - 273px + 63px);
  padding-bottom: 63px;
  overflow: hidden;


  .slider-btn {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(0, -50%);
    margin-top: -31px;
    z-index: 10;

    &.slider-btn--next {
      left: auto;
      right: 40px;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
  .btns, .dots {
    transition: all 0.3s ease-in-out;
  }

  .swiper-wrapper {
    width: 100%;
    height: 100%;
    overflow: visible;

    .swiper-slide {
      width: 100%;
      height: 100%;
      position: relative;

      > p {
        position: absolute;
        top: calc(100% + 63px);
        left: 50%;
        transform: translate(-50%, -100%);


        width: 100%;
        @include textFont;
        text-align: center;
      }
    }
  }

  @media screen and (min-width: 768px) {
    &:has(.play-btn.pause) {
      .btns {
        opacity: 0;
        pointer-events: none;
      }
      .dots {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

.single-video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .media-type {
    appearance: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    backface-visibility: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }

  .video-box {
    width: 100%;
    height: 100%;

    .video {
      width: 100%;
      height: 100%;

      overflow: hidden;
      backface-visibility: hidden;
      appearance: none;

      video, iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &.hide-poster {
    .play-btn {
      opacity: 0;
    }

    .media-type {
      opacity: 0;
      pointer-events: none;
    }

    &:hover {
      .play-btn {
        opacity: 1;
      }
    }
  }
}

.play-btn {
  width: 170px;
  background: $main-color;
  height: 170px;
  border-radius: 50%;
  cursor: pointer;

  box-shadow: 0 0 28.2px #9F6FFF;
  transition: all 0.3s ease-in-out;

  @include flexCenter;

  img {
    transition: all 0.3s ease-in-out;
    width: 70px;
    height: auto;
    opacity: 1;
  }

  &::after {
    width: 65px;
    height: 93px;
    display: inline-block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    background: url("../img/pause-ic.svg") no-repeat center / 100%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    box-shadow: 0 0 0 #9F6FFF;
  }

  &.pause {
    img {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }
}

.sheets-content {
  width: 100%;
  flex-grow: 1;
  padding: 50px 38px 50px 59px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sheet-tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  max-height: 100%;
  overflow-y: auto;
}


.sheet-tabs__tabs {
  width: calc(100% - 270px);
  display: flex;

  .item-tab {
    width: 100%;
    height: 0;
    padding-top: 60.8%;
    position: relative;
    backface-visibility: hidden;
    overflow: hidden;
    display: none;

    &.active {
      display: flex;
    }

    .iframe-wrap {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
    }

    iframe {
      width: 100%;
      height: 100%;

    }
  }
}

.sheet-tabs__btns {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .tab-btn {
    width: 100%;
    display: flex;
    padding: 20px 20px 20px 0;
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #EAEAEA;
    transition: all 0.3s ease-in;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #000000;

    &:hover {
      border-bottom-color: #9F6FFF;
      color: #593DD2;
    }

    &.active {
      border-bottom-color: #9F6FFF;
      color: #593DD2;
      font-weight: bold;
    }

  }
}

.system-arch {
  width: 100%;
  flex-grow: 1;
  padding: 40px 50px 66px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  max-height: calc(100vh - 133px);
  overflow-y: auto;
  gap: 50px;

  &__top {
    width: 100%;
  }

  &__top-block {
    width: 100%;
    height: 0;
    padding-top: 38.242%;
    position: relative;
  }

  &__bot {
    pointer-events: auto;
    width: 100%;
    margin-top: auto;
  }
}

.heli-block {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;


}

.heli-block__sensors {
  .single-sensor {
    &:nth-child(1) {
      top: 53.6%;
      left: 26.7%;
    }

    &:nth-child(2) {
      top: 38.4%;
      left: 32.4%;
    }

    &:nth-child(3) {
      top: 41.6%;
      left: 43%;
    }

    &:nth-child(4) {
      top: 49.5%;
      left: 61.3%;
    }

    &:nth-child(5) {
      top: 47.7%;
      left: 78.6%;
    }

    &:nth-child(6) {
      top: 27.75%;
      left: 85.9%;
    }
  }
}

.single-sensor {
  position: absolute;
  width: 3.981%;
  height: 0;
  padding-top: 3.981%;
  display: flex;
  align-items: center;
  justify-content: center;

  .bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .item {
    position: absolute;
    width: 49%;
    display: flex;
    z-index: 2;
    top: 50%;
    left: 50%;
    border-radius: 30px;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate(-50%, -50%);

    img {
      width: 100%;
      height: auto;
    }
  }
}

.single-unit {
  position: absolute;
  width: 9.466%;
  height: 0;
  padding-top: 9.466%;

  .unit-text {
    display: none;
    width: auto;
    position: absolute;
    left: 100%;
    margin-left: 15px;
    top: 50%;
    transform: translate(0, -50%);

    p {

      font-style: normal;
      font-weight: 400;
      font-size: vw(20px);
      line-height: 1.2;
      color: $main-color;
      white-space: nowrap;

      sup {
        font-size: 0.7em;
      }


    }
  }

  &.single-unit--pilots {

    top: 6%;
    left: 20.9%;

    .unit-line {
      width: 48%;

      top: 103%;
      left: 72%;

      transform: rotate(54deg);


    }
  }

  &.single-unit--rails {

    top: 73%;
    left: 17.3%;

    .unit-line {
      width: 85%;

      top: 21%;
      left: 101%;

      transform: rotate(-27deg);

    }
  }

  &.single-unit--unit {

    top: 73%;
    left: 37.5%;

    .unit-line {
      display: none;

    }

    .unit-text {
      display: flex;

    }
  }

  &.single-unit--tool {

    top: 73%;
    left: 64.7%;

    .unit-text {
      display: flex;

    }

    .unit-line {
      width: 42%;

      top: -2%;
      left: 43%;

      transform: rotate(-108deg);

    }
  }

  &.single-unit--sensors {

    width: auto;
    height: auto;
    top: 0;
    left: 65.6%;
    padding: 0;

    .unit-text {
      display: flex;
      margin-left: 0;
      position: static;
      transform: none;

    }

    .unit-image {
      display: none;
    }

    .unit-line {
      width: vw(10px);
      height: vw(10px);
      transform-origin: 100% 50%;

      top: 162%;
      left: 44%;

      transform: rotate(-61deg);

      &.unit-line--1 {
        display: flex;
        transform: rotate(-61deg);

        .line {
          position: absolute;
          top: 50%;
          right: 6%;
          transform: translate(0, -50%);
          width: 200%;
        }

        &::after {
          left: -107%;
        }
      }

      &.unit-line--2 {
        display: flex;
        transform: rotate(-150deg);

        .line {
          position: absolute;
          top: 50%;
          right: 8%;
          transform: translate(0, -50%);
          width: 183%;
        }

        &::after {
          left: -94%;
        }
      }
    }
  }

  .unit-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .bg {
      position: relative;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .item {
      width: 61.1%;
      height: auto;
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      overflow: hidden;
      backface-visibility: hidden;
      appearance: none;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .unit-line {
    position: absolute;
    transform-origin: 0 50%;

    &.unit-line--2 {
      display: none;
    }

    &::after {

      border-right: 9px solid $main-color;
      border-left: 9px solid $main-color;
      border-top: 6px solid $main-color;
      border-bottom: 6px solid $main-color;
      border-top-color: rgba(255, 255, 255, 0);
      border-left-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(255, 255, 255, 0);
      position: absolute;
      top: 50%;
      left: -1px;
      display: inline-block;
      content: '';
      transform: translate(-50%, -50%);
    }

    &::before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
      background: $main-color;
      display: inline-block;
      content: '';
      position: absolute;
    }

    .line {
      width: 100%;
      border-top: 2px dashed $main-color;
    }
  }
}

.wrapper-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  appearance: none;

  > img {
    mix-blend-mode: multiply;
  }

  .system-arch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: vw(173px);
    pointer-events: auto;
    max-height: 100%;
    overflow: initial;
  }

  .system-bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    appearance: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;
    }
  }

  .copter-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 2;
    display: flex;
    mix-blend-mode: multiply;
    //68 31

    img, video, embed {
      margin-top: -4.7%;
      margin-left: -2.4%;
      width: 100%;
      height: auto;
      object-fit: contain;
      transform: rotateY(180deg);
    }
  }
}

.system-arch__bot {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

}

.system-arch__bot-step {
  position: relative;
  height: 232px;
  padding: 15px 1% 20px;
  background: url("../img/Subtract.svg") no-repeat center / 100%;
  background: var(--fill);
  mask-image: url("../img/Subtract.svg");
  mask-size: 100% 100%;
  mask-position: 0 0;
  width: calc(100% / 5);
  flex-shrink: 0;

  &:not(:last-child) {
    padding-right: 8%;
    width: 27%;

  }

  &:not(:first-child) {
    margin-left: -7%;
  }


  .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    svg {
      width: 100%;
      height: 100%;

      path {
        fill: var(--fill);
      }
    }
  }

  .text {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .ic {
      width: 117px;
      height: 117px;
      display: flex;
      margin-bottom: 9px;

      img {
        width: 100%;
        height: auto;
      }
    }

    p {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      text-align: center;
      color: var(--color);


    }
  }
}

.system-arch__top {
  .copter-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);

    img {
      width: 96%;
      height: auto;

      margin-left: 3%;
      margin-top: 2.5%;
      //filter: brightness(0.8);
    }
  }
}


.big-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;

  .copyr {
    font-family: $second-font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    padding: 0 60px 48px;
    bottom: 0;
    z-index: 2;


  }
}

.login-block {
  width: 599px;
  height: 100%;
  background: linear-gradient(188.38deg, #4B009B 3.13%, #29329C 94.56%);
  padding: 100px 60px;
  flex-shrink: 0;
  position: relative;
}


.login-block__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;


  .logo {
    width: 350px;
    display: flex;
    margin-bottom: 0;
    position: absolute;
    top: 43px;
    left: 60px;

    a, img {
      width: 100%;
      height: auto;
      display: flex;
    }
  }
}

.form-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  > span {

    display: inline-block;
    margin-bottom: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: #FFFFFF;
  }

  > p {
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;


  }
}

.form {
  width: 100%;

  .wpcf7 {
    width: 100%;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.input-wrap {
  width: 100%;
  margin-bottom: 20px;

  input {
    outline: none;
    padding: 27px 34px 28px;
    width: 100%;
    background: #fff;
    border: 2px solid #fff;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #000000;
    transition: all 0.3s ease-out;

    &::placeholder {
      color: #000000;
    }
  }

  .wpcf7-form-control-wrap {
    width: 100%;
    display: flex;
    position: relative;

    &:has(input:required) {
      &::before {

        content: '*';
        position: absolute;
        top: 8px;
        left: 11px;
        z-index: 2;

        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 1;
        color: #000;
      }
    }

  }

  &:has(input.wpcf7-not-valid) {
    input {
      border-color: red !important;
    }
  }
}

.btn {
  width: 100%;
  outline: none;
  appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  padding: 29px 32px;
  background: rgba(255, 255, 255, 0);
  transition: all 0.3s ease-out;


  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;

  color: #FFFFFF;

  &:hover {
    background: #fff;
    color: $main-color;
  }
}

.hero {
  flex-grow: 1;
  height: 100%;

}

.hero-cont {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 62px;
}

.hero-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;

  &::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    content: '';

    background: #593DD2;
    mix-blend-mode: color;
    opacity: 0.6;
    z-index: 2;

  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero-txt {
  width: 100%;
  max-width: 598px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  z-index: 2;

  h1, span {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.31;
    color: #FFFFFF;
    margin-bottom: 25px;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
  }
}

.logged-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
}

body {
  &.logged {
    .header {
      display: none;
    }
  }
}

.logged-head {
  width: 100%;
  background: linear-gradient(188.38deg, #4B009B 3.13%, #29329C 94.56%);
  padding: 30px 21px 30px 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 350px;
    height: auto;
    display: flex;

    a, img {
      display: flex;
      width: 100%;
      height: auto;
    }
  }
}

.logged-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;

  p {
    position: relative;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    color: #FFFFFF;


    &::after {
      width: 1px;
      height: 56px;
      background: #fff;
      display: inline-block;
      content: '';
      position: absolute;
      right: -30px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  span {

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: #FFFFFF;

  }
}

.logged-block {
  width: 100%;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.logged-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  backface-visibility: hidden;
  appearance: none;
  background: url("../img/bg-logged.jpg") no-repeat center bottom / cover;

  &.logged-bg--image {
    background: rgba(255, 255, 255, 0);

    .heli {
      display: none;
    }

    .image {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
      }
    }

    &::after {
      opacity: 0.6;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    content: '';
    background: #593DD2;
    opacity: 0.3;
    mix-blend-mode: color;
  }

  .heli {
    position: absolute;
    display: flex;
    width: 94%;
    top: 14%;
    left: 2.2%;
    z-index: 3;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.logged-menu {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 40px 40px 169px;
  gap: 25px;
  position: relative;
  z-index: 4;
  margin-top: auto;
}


.menu-item-log {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 104px;
  border: 3px solid $main-color;
  background: #fff;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;

  &::after {
    width: 106%;
    padding-top: 106%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    content: '';
    position: absolute;
    background: url("../img/scopeic.svg") no-repeat center / 100%;
    transition: all 0.3s ease-in-out;
  }

  .cont-item {
    width: 100%;
    height: 100%;
    padding: 17px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    position: relative;
    z-index: 2;

    .ic {
      width: auto;
      height: 30px;
      display: flex;

      img {
        width: auto;
        height: 100%;
        transition: all 0.3s ease-in-out;
      }
    }

    p {
      font-family: $second-font;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 1;
      text-align: center;

      color: #000000;
      transition: all 0.3s ease-in-out;


    }
  }

  &:hover {
    background: $main-color;

    &::after {
      filter: brightness(0);
    }

    .cont-item {
      .ic {
        img {
          filter: brightness(0) invert(1);
        }
      }

      p {
        color: #fff;
      }
    }
  }
}

.logged-textual {
  display: none;
}

.mobile-btn {
  display: none;
}