@font-face {
  font-family: 'Halogen';
  src: local("Halogen-Regular"), local("Halogen-Regular"),
  url("../fonts/halogen/Halogen-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Halogen';
  src: local("Halogen-Bold"), local("Halogen-Bold"),
  url("../fonts/halogen/Halogen-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

