@function vw($px-vw, $base-vw: 360px) {
  @return ($px-vw * 100vw) / $base-vw
}

@media screen and (max-width: 1900px) {
  .system-arch__bot-step .text p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1750px) {
  .single-unit.single-unit--sensors .unit-line.unit-line--1 .line {
    width: 2000%;
  }
  .single-unit.single-unit--sensors .unit-line.unit-line--1::after {
    left: -2000%;
  }
  .single-unit.single-unit--sensors .unit-line.unit-line--2 .line {
    width: 1650%;


  }
  .single-unit.single-unit--sensors .unit-line.unit-line--2::after {
    left: -1650%;
  }
  .system-arch__bot-step .text p {
    font-size: 16px;
  }
  .sheets-content {
    padding: 40px 34px 40px 40px;
  }
  .login-block {
    width: 500px;
    padding: 90px 45px;
  }
  .login-block__wrapper .logo {
    top: 30px;
    left: 45px;
  }
  .big-wrapper .copyr {
    padding: 0 45px 30px;
  }

  .login-block__wrapper {
    .logo {
      width: 320px;
    }
  }
  .header {
    width: 450px;

    .logo {
      width: 320px;
    }

    .container {
      padding: 0 32px 0 50px;
    }
  }
  .wrapper {
    width: calc(100% - 450px);
  }
  .cases {
    padding: 34px 34px 0 40px;
  }
  .content-top {
    padding: 33px 34px 0 40px;
  }
  .system-arch {
    padding: 30px 34px 50px 40px;
  }
  .cases-list {
    gap: 6px 30px;
  }
  .single-case {
    width: calc((100% / 3) - (60px / 3));
  }
  .cases::after {
    height: 100px;
  }
  .cases-list {
    padding-bottom: 105px;
  }
  .single-case__text p {
    font-size: 18px;
  }
  .title {
    font-size: 28px;
  }
}

@media screen and (max-width: 1650px) {
  .system-arch__bot-step .text .ic {
    width: 90px;
    height: 90px;
  }
  .system-arch__bot-step {
    height: 200px;
  }
  .menu ul li a {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (max-width: 1440px) {
  .sheets-content {
    padding: 25px;
  }
  .sheet-tabs {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sheet-tabs__tabs {
    width: 100%;
    margin-top: 30px;
  }
  .sheet-tabs__btns {
    width: 100%;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .tab-btn {
      width: auto;
      padding: 15px;
    }
  }
  .slider-btn {
    width: 35px;
    height: 35px;

    &::after {
      width: 16px;
      height: 16px;
      border-width: 2px;
    }
  }
  .video-slider .dots {
    bottom: 25px;
  }
  .dots {
    gap: 8px;
  }
  .single-dot {
    height: 5px;
    width: 22px;

    &.active {
      width: 90px;
    }
  }
  .video-slider__wrapper .slider-btn {
    left: 5px;

    &.slider-btn--next {
      right: 5px;
    }
  }

  .play-btn {
    width: 85px;
    height: 85px;

    img {
      width: 35px;
    }

    &::after {
      width: 30px;
      height: 54px;
    }
  }
  .video-slider__wrapper {
    max-height: calc(100vh - 230px);
  }
  .header-container {
    padding-top: 23px;
  }

  .login-block {
    width: 420px;
    padding: 70px 25px;
  }
  .login-block__wrapper .logo {
    top: 20px;
    left: 25px;
  }
  .hero-cont {
    padding: 40px;
  }
  .hero-txt h1, .hero-txt span {
    font-size: 28px;
  }
  .hero-txt p {
    font-size: 22px;
  }
  .input-wrap input {
    padding: 18px 20px 19px;
  }
  .form-block > span {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .btn {
    padding: 15px 20px;
  }
  .big-wrapper .copyr {
    padding: 0 25px 20px;
  }
  .login-block__wrapper {
    .logo {
      width: 250px;
    }
  }
  .header .logo {
    width: 250px;
  }
  .header-menu {
    padding: 25px 0;
  }
  .header .container {
    padding: 0 18px 0 25px;
  }
  .menu {
    max-height: calc(100vh - 120px);
  }
  .menu ul li a {
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 60px;
  }
  .header {
    width: 360px;
  }
  .wrapper {
    width: calc(100% - 360px);
  }
  .menu ul li a::after {
    width: 10px;
    height: 20px;
  }
  .content-icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
  .link-back {
    margin-left: 20px;
  }
  .content-title::after {
    margin-left: 20px;
  }
  .title {
    font-size: 22px;
  }

  .content-top {
    padding: 25px;
    margin-bottom: 0;
  }
  .system-arch {
    padding: 25px 25px 40px;
    max-height: calc(100vh - 90px);
  }
  .sheets-content {
    max-height: calc(100vh - 90px);
  }
  .cases {
    padding: 15px 25px 0 25px;
    max-height: calc(100vh - 90px);
  }
  .cases-list {
    gap: 5px 20px;
    padding-right: 17px;
    padding-bottom: 60px;
  }
  .single-case {
    width: calc((100% / 3) - (40px / 3));
  }
}

@media screen and (max-width: 1300px) {
  .header {
    width: 320px;
  }
  .wrapper {
    width: calc(100% - 320px);
  }
  .single-case__text {
    padding: 15px 0;
  }
}

@media screen and (max-width: 1100px) {
  .single-case {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 991px) {
  .main-wrapper {
    height: auto;
  }
  .big-wrapper {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .login-block {
    height: auto;
    width: 100%;
    padding: 0;
  }
  .login-block__wrapper {
    padding: 57px 23px 35px;
    width: 100%;
    justify-content: flex-start;

    .logo {
      width: 250px;
      position: static;
      margin-bottom: 69px;
    }
  }
  .form-block {
    > span {
      font-size: 20px;
      margin-bottom: 35px;
    }

    > p {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .form {
      max-width: 400px;
    }
  }

  .input-wrap {
    input {
      padding: 15px 38px 16px;
      font-size: 16px;
    }
  }
  .btn {
    font-size: 16px;
    padding: 20px;
  }
  .hero {
    width: 100%;
  }
  .hero-cont {
    padding: 33px 25px 206px;
  }
  .hero-txt {
    h1, span {
      font-size: 20px;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
    }
  }
  .big-wrapper .copyr {
    padding: 0 25px 28px;
  }
  .redsocks {
    background: red;
  }
}