@function vw($px-vw, $base-vw: 360px) {
  @return ($px-vw * 100vw) / $base-vw
}

@media screen and (max-width: 1900px) {
  .system-arch__bot-step .text p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1750px) {
  .single-unit.single-unit--sensors .unit-line.unit-line--1 .line {
    width: 181%;
  }
  .single-unit.single-unit--sensors .unit-line.unit-line--1::after {
    left: -98%;
  }
  .single-unit.single-unit--sensors .unit-line.unit-line--2 .line {
    width: 160%;


  }
  .single-unit.single-unit--sensors .unit-line.unit-line--2::after {
    left: -74%;
  }
  .system-arch__bot-step .text p {
    font-size: 16px;
  }
  .sheets-content {
    padding: 40px 34px 40px 40px;
  }
  .login-block {
    width: 500px;
    padding: 90px 45px;
  }
  .login-block__wrapper .logo {
    top: 30px;
    left: 45px;
  }
  .big-wrapper .copyr {
    padding: 0 45px 30px;
  }
  .logged-head .logo {
    width: 320px;
  }
  .logged-text {
    p {
      font-size: 26px;
    }

    span {
      font-size: 26px;
    }
  }
  .login-block__wrapper {
    .logo {
      width: 320px;
    }
  }
  .header {
    width: 450px;

    .logo {
      width: 320px;
    }

    .container {
      padding: 0 32px 0 50px;
    }
  }
  .wrapper {
    width: calc(100% - 450px);
  }
  .cases {
    padding: 34px 34px 0 40px;
  }
  .content-top {
    padding: 33px 34px 0 40px;
  }
  .system-arch {
    padding: 30px 34px 50px 40px;
  }
  .cases-list {
    gap: 6px 30px;
  }
  .single-case {
    width: calc((100% / 3) - (60px / 3));
  }
  .cases::after {
    height: 100px;
  }
  .cases-list {
    padding-bottom: 105px;
  }
  .single-case__text p {
    font-size: 18px;
  }
  .title {
    font-size: 28px;
  }
}

@media screen and (max-width: 1650px) {
  .system-arch__bot-step .text .ic {
    width: 90px;
    height: 90px;
  }
  .system-arch__bot-step {
    height: 200px;
  }
  .menu ul li a {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (max-width: 1440px) {
  .sheets-content {
    padding: 25px;
  }
  .sheet-tabs {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sheet-tabs__tabs {
    width: 100%;
    margin-top: 30px;
  }
  .sheet-tabs__btns {
    width: 100%;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .tab-btn {
      width: auto;
      padding: 15px;
    }
  }
  .slider-btn {
    width: 35px;
    height: 35px;

    &::after {
      width: 16px;
      height: 16px;
      border-width: 2px;
    }
  }
  .video-slider .dots {
    bottom: 88px;
  }
  .dots {
    gap: 8px;
  }
  .single-dot {
    height: 15px;
    width: 32px;

    &.active {
      width: 100px;
    }
  }
  .video-slider__wrapper .slider-btn {
    left: 5px;

    &.slider-btn--next {
      right: 5px;
    }
  }

  .play-btn {
    width: 85px;
    height: 85px;

    img {
      width: 35px;
    }

    &::after {
      width: 30px;
      height: 54px;
    }
  }
  .video-slider__wrapper {
    max-height: calc(100vh - 230px + 63px);
  }
  .header-container {
    padding-top: 23px;
  }

  .login-block {
    width: 420px;
    padding: 70px 25px;
  }
  .login-block__wrapper .logo {
    top: 20px;
    left: 25px;
  }
  .hero-cont {
    padding: 40px;
  }
  .hero-txt h1, .hero-txt span {
    font-size: 28px;
  }
  .hero-txt p {
    font-size: 22px;
  }
  .input-wrap input {
    padding: 18px 20px 19px;
  }
  .form-block > span {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .btn {
    padding: 15px 20px;
  }
  .big-wrapper .copyr {
    padding: 0 25px 20px;
  }
  .login-block__wrapper {
    .logo {
      width: 250px;
    }
  }
  .logged-head {
    padding: 30px 20px;

    .logo {
      width: 250px;
    }
  }
  .logged-text {
    gap: 30px;

    p {
      font-size: 24px;

      &::after {
        right: -15px;
        height: 30px;
      }
    }

    span {
      font-size: 24px;
    }
  }
  .logged-menu {
    flex-wrap: wrap;
    padding-bottom: 100px;
  }
  .header .logo {
    width: 250px;
  }
  .header-menu {
    padding: 25px 0;
  }
  .header .container {
    padding: 0 18px 0 25px;
  }
  .menu {
    max-height: calc(100vh - 120px);
  }
  .menu ul li a {
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 60px;
  }
  .header {
    width: 360px;
  }
  .wrapper {
    width: calc(100% - 360px);
  }
  .menu ul li a::after {
    width: 10px;
    height: 20px;
  }
  .content-icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
  .link-back {
    margin-left: 20px;
  }
  .content-title::after {
    margin-left: 20px;
  }
  .title {
    font-size: 22px;
  }

  .content-top {
    padding: 25px;
    margin-bottom: 0;
  }
  .system-arch {
    padding: 25px 25px 40px;
    max-height: calc(100vh - 90px);
  }
  .sheets-content {
    max-height: calc(100vh - 90px);
  }
  .cases {
    padding: 15px 25px 0 25px;
    max-height: calc(100vh - 90px);
  }
  .cases-list {
    gap: 5px 20px;
    padding-right: 17px;
    padding-bottom: 60px;
  }
  .single-case {
    width: calc((100% / 3) - (40px / 3));
  }
}

@media screen and (max-width: 1300px) {
  .logged-menu {
    gap: 20px;
  }
  .menu-item-log {
    width: 113px;
    height: 90px;

    .cont-item {
      padding: 10px 5px 5px;

      .ic {
        height: 27px;
      }

      p {
        font-size: 11px;
      }
    }
  }
  .header {
    width: 320px;
  }
  .wrapper {
    width: calc(100% - 320px);
  }
  .single-case__text {
    padding: 15px 0;
  }
}

@media screen and (max-width: 1100px) {
  .logged-head {
    padding: 10px 20px;

    .logo {
      width: 200px;
    }
  }
  .logged-text {
    p, span {
      font-size: 20px;
    }
  }
  .single-case {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 991px) {
  .sheets-content {
    max-height: none;
  }
  .sheets-content {
    padding: 0 25px 40px;
  }
  .video-slider__wrapper {
    height: auto;
    max-height: none;
    margin-bottom: 40px;
    padding-bottom: 0;

    .swiper-slide {
      > p {
        margin-top: 40px;
        position: static;
      }
    }

    .single-video {
      height: 500px;
    }
  }
  .video-slider__wrapper .swiper-wrapper .swiper-slide>p {
    margin-top: 40px;
    position: static;
    transform: none;
  }
  .video-slider .dots {
    top: 470px;
    bottom: auto;
  }

  .video-slider {
    padding: 15px 25px 100px;
  }
  .wrapper {
    max-height: none;
    height: auto;
  }
  .content {
    height: auto;
  }
  .cases {
    max-height: none;
    height: auto;
  }
  .single-case__text p {
    font-size: 20px;
  }
  .wrapper {
    width: 100%;
  }
  .logged-menu {
    padding: 0 20px;
    margin-bottom: 77px;
  }
  .menu-item-log {
    border: 1px solid #DEDEDE;
    background: #fff;
  }
  .logged-textual {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 38px;
    padding: 0 20px;

    p, span {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 1;
      text-align: center;
      color: #57349E;


    }

    p {
      font-family: $second-font;
    }
  }
  .logged-bg {
    position: relative;
    width: 100%;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    height: 0;
    padding-top: 36.51%;
    //padding-top: 56.51%;
  }
  .logged-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .main-wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 100px;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: auto;

    .container {
      padding: 0px 23px;
    }
  }
  .header-container {
    width: 100%;
    padding: 63px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .logo {
      width: 192px;
      margin-bottom: 9px;
    }
  }
  .header-menu {
    width: 100%;
    height: 0;
    transition: all 0.6s ease-in-out;
    overflow: hidden;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .burger {
    display: flex;
    width: 35px;
    height: 25px;
    position: relative;
    margin-bottom: 12px;

    span {
      width: 100%;
      height: 5px;
      display: flex;
      border-radius: 10px;
      background: #fff;
      position: absolute;
      transition: all 0.3s ease-in-out;

      &:nth-child(1) {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }

      &:nth-child(3) {
        bottom: 0;
        left: 0;
      }
    }

    &.active {
      span {
        height: 3px;

        &:nth-child(1) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(2) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(3) {
          bottom: 50%;
          left: 50%;
          transform: translate(-50%, 50%) rotate(-45deg);
        }
      }
    }
  }
  .logged-head {
    display: none;
  }
  .menu ul li a.active, .menu ul li a:hover {
    padding-left: 30px;
    padding-right: 30px;
  }
  body {
    &.logged {
      .header {
        display: flex;
      }
    }
  }
  .main-wrapper {
    height: auto;
  }
  .big-wrapper {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .login-block {
    height: auto;
    width: 100%;
    padding: 0;
  }
  .header {
    &.active {
      .header-menu {
        height: calc(100vh - 100px);
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }
  }
  .login-block__wrapper {
    padding: 57px 23px 35px;
    width: 100%;
    justify-content: flex-start;

    .logo {
      width: 250px;
      position: static;
      margin-bottom: 69px;
    }
  }
  .form-block {
    > span {
      font-size: 20px;
      margin-bottom: 35px;
    }

    > p {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .form {
      max-width: 400px;
    }
  }

  .input-wrap {
    input {
      padding: 15px 38px 16px;
      font-size: 16px;
    }
  }

  .btn {
    font-size: 16px;
    padding: 20px;
  }
  .hero {
    width: 100%;
  }
  .hero-cont {
    padding: 33px 25px 206px;
  }
  .hero-txt {
    h1, span {
      font-size: 20px;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
    }
  }
  .big-wrapper .copyr {
    padding: 0 25px 28px;
  }
  .redsocks {
    background: red;
  }
  .header-menu {
  }
  .menu {
    max-height: 100%;
    overflow-y: auto;

    > ul {
      height: auto;
      padding-bottom: 60px;
    }
  }
}

@media screen and (max-width: 767px) {
  .video-slider__wrapper .slider-btn {
    top: 250px;
    bottom: auto;
    margin-top: 0;
  }
  .single-unit .unit-text p {
    font-size: 12px;
  }

  .system-arch {
    max-height: none;
    overflow: visible;
  }
  .single-unit .unit-line .line {
    border-top: 1px dashed $main-color;
  }
  .content-center {
    &:has(.system-arch) {
      position: relative;

      .wrapper-bg {
        position: absolute;
        top: 0;
        padding-top: 75.81%;
        height: 0;
        bottom: auto;

        .system-bg {
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
  .video-slider > p {
    max-width: 240px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .content-icon {
    margin-right: 14px;
  }
  .video-slider__wrapper {
    .swiper-slide {
      > p {
        max-width: 240px;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .video-slider__wrapper .swiper-wrapper .swiper-slide>p {

  }
  .content-top {
    padding: 20px 23px;
  }
  .cases::after {
    content: none;
  }
  .cases {
    padding: 10px 23px;
  }
  .link-back {
    margin-left: auto;
  }
  .content-title::after {
    content: none;
  }
  .title {
    font-size: 18px;
  }
  .cases-list {
    padding: 0;
  }
  .logged-block {
    padding-bottom: 25px;

    > p {


      font-family: $second-font;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1;
      text-align: center;

      color: #000000;


    }
  }
}

@media screen and (max-width: 600px) {
  .content-center:has(.system-arch) .wrapper-bg {
    padding-top: 72.61%;
  }
  .system-arch__bot {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .system-arch__bot-step {
    width: 100%;
    height: 110px;
    padding: 8px 20px;
    mask-image: url("../img/mask-not-last.svg");
    mask-size: 100% 100%;
    mask-position: 0 0;
    mask-repeat: no-repeat;

    .text {
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 30px;

      p {
        text-align: left;
      }

      .ic {
        flex-shrink: 0;
        margin: 0;
        width: 60px;
        height: 60px;
      }
    }

    &:not(:last-child) {
      padding-right: 20px;
      width: 100%;
      padding-bottom: 43px;

    }

    &:last-child {
      height: 75px;
      mask-image: url("../img/mask-last.svg");
      mask-size: 100% 100%;
      mask-position: 0 0;
      mask-repeat: no-repeat;
      padding-right: 20px;
    }

    &:not(:first-child) {
      margin-left: 0;
      margin-top: -35px;
    }
  }

  .system-arch__bot {
    padding-bottom: 60px;
  }

  .content-center:has(.system-arch) .wrapper-bg {
    top: -80px;
  }
  .single-unit.single-unit--unit .unit-text {
    margin-left: 8px;
    max-width: 66px;
  }
  .system-arch {
    padding: 0;
  }
  .single-unit .unit-line::after {
    border-right: 4px solid #593dd2;
    border-left: 4px solid #593dd2;
    border-top: 2px solid #593dd2;
    border-bottom: 2px solid #593dd2;
    border-top-color: rgba(255, 255, 255, 0);
    border-left-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
  }
  .single-unit .unit-line::before {
    width: 5px;
    height: 5px;
  }
  .single-unit .unit-text p {
    font-size: 10px;
    white-space: initial;
  }
  .single-unit.single-unit--tool .unit-text {
    margin-left: 8px;
    width: 80px;
  }
  .sheet-tabs__btns {
    display: none;
  }
  .sheet-tabs__tabs {
    margin-top: 0;
  }
  .sheet-tabs {
    max-height: none;
    overflow: visible;
  }
  .sheet-tabs__tabs .item-tab {
    display: flex;
    height: auto;
    padding-top: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: visible;
  }
  .mobile-btn {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    transition: all 0.3s ease-in-out;
    display: flex;
    padding: 25px 25px 25px 0;
    position: relative;
    border-bottom: 1px solid #EAEAEA;

    &::after {
      background: #000;
      mask-image: url(../img/arrow-menu.svg);
      mask-repeat: no-repeat;
      mask-position: 0 0;
      mask-size: 100% 100%;
      display: inline-block;
      content: '';
      width: 10px;
      height: 20px;
      transition: all 0.3s ease-in-out;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      filter: brightness(0);
    }
  }
  .sheet-tabs__tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sheet-tabs__tabs .item-tab {
    .iframe-wrap {
      position: relative;
      top: auto;
      left: auto;
      height: 0;
      width: 100%;
      padding-top: 0;
      transition: all 0.4s ease-in-out;
      overflow: hidden;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &.active {
      .iframe-wrap {
        padding-top: 60.51%;
      }

      .mobile-btn {
        font-weight: 700;
        color: #593DD2;

        &::after {
          right: 5px;
          transform: translate(0, -50%) rotate(90deg);
          background: #593DD2;
        }
      }
    }
  }
  .video-slider__wrapper {
    height: auto;
    .dots {
      top: 366px;
    }
    .single-video {
      height: 396px;
    }
  }
  .video-slider__wrapper .slider-btn {
    top: 198px;
  }
  .single-case {
    width: 100%;
  }
  .menu-item-log .cont-item {
    padding-top: 13px;
  }
  .logged-bg {
    padding-top: 56.51%;
  }

}

@media screen and (max-width: 380px) {
  .title {
    font-size: 16px;
  }
  .content-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  .header-container {
    padding-top: 43px;
  }
  .logged-textual p, .logged-textual span {
    font-size: 18px;
  }
  .logged-menu {
    margin-bottom: 50px;
    padding: 0 15px;
  }
  .menu-item-log {
    width: 101px;
    height: 83px;
  }
  .menu-item-log .cont-item .ic {
    height: 24px;
  }
  .menu-item-log .cont-item p {
    font-size: 10px;
  }
  .header.active .header-menu {
    height: calc(100vh - 80px);
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .main-wrapper {
    padding-top: 80px;
  }
  .link-back {
    width: 26px;
    height: 26px;
  }
  .menu ul li a {
    font-size: 14px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .system-arch__bot-step .text {
    gap: 15px;
  }
}